.section#about {
    gap: var(--sz14);

}


.section#about .section_content {
  flex-direction: row;
  gap: var(--sz6);

  align-items: center;
}

.section#about .section_content #left {
  width: 35%;
}

.section#about .section_content #left img {
  width: 100%;
  aspect-ratio: 1;

  border-radius: 10%;
  object-fit: cover;
  
}

.section#about .section_content #right {
  width: 65%;  
}

.section#about .section_content #right p {
  color: var(--txt1);
  font-size: var(--sz4);
}
