@import url(../widgets/contact_card/contact_card.css);

.section#home {
  flex: none;
  min-height: 100vh;
}

.section#home .section_content {
  margin: auto 0;

  flex-direction: row;

  justify-content: space-between;
  align-items: center;
}

/******/

.section#home .section_content #left h1 {
  font-size: var(--sz15);
}
.section#home .section_content #left h2 {
  font-size: var(--sz4);
}

/* btn */ 

.section#home .section_content #right a {
  font-size: var(--sz5);
  border: 1px solid var(--txt0);

  border-radius: var(--sz5);
  padding: var(--sz3) var(--sz5);

  transition: all 500ms ease;
}


.section#home .section_content #right a:hover{
  background-color: var(--txt0);
  color: var(--bg0);
}


