@media only screen and (max-width: 800px) {  

  .section.page {
    padding: 5vw;
  }

  .navbar {        
   
   display: none;
    overflow-x: scroll;    
    justify-content: start;      
    
  }
  
      

  /* home */

  .section.page > .section_content {
    flex-direction: column;
    align-items: center;
  }

  .section.page > .section_content #left {
    width: 100%;
    text-align: center;
  }

  /* projects*/

  .section#projects > .section_content {
    display: flex;
    flex-direction: column;

    gap: var(--sz5);
  }

  /*skills*/  

  .section.categ_section > .section_content {    
    grid-template-columns: repeat(2, 1fr);    
  }

  /* about */

  .section#about > .section_content {
    flex-direction: column;
  }

  .section#about > .section_content #left {
    width: 100%;    
  }
  .section#about > .section_content #left img{
    width: 80%;
    border-radius: 50%;
  }

  .section#about > .section_content #right {
    width: 100%;    
  }

  .section#about > .section_content #right {
    text-align: center;    
  }

  /* contact*/
  .section#contact {        
    justify-content: center;
  }


  .section#contact > .section_content {
    grid-template-columns: repeat(2, 1fr);    
  }
}
