.section.page_section#contact>.section_title>* {
    margin: 0;
}

.section.page_section#contact .section_title {
    flex-direction: column;
    align-items: start;
    gap: var(--sz3);
}

.section.page_section#contact .section_title p {
    color: var(--txt1);
    font-size: var(--sz4);
}


.section.page_section#contact .section_content>.section {
    gap: calc(var(--sz15) * 2);
}


#contact_cards {
    gap: var(--sz10);
}

#contact_cards .contact a {
    border-bottom: 1px solid var(--accent0);
}

#contact_cards .contact a {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    color: var(--txt0);
    font-size: var(--sz5);
    font-weight: 900;
    text-decoration: none;

    padding: var(--sz6);
    border-radius: var(--sz2);

    background-color: var(--bg0);
}

#contact_cards .contact img {
    width: 10%;
    aspect-ratio: 1;
}

#contact_cards .contact .arrow {
    color: var(--accent0);
    font-size: var(--sz7);
    font-weight: 900;
}


.section.page_section#contact #me {
    position: absolute;
    bottom: 0;

    width: 100%;

    text-align: center;
    padding: var(--sz3);
}

.section.page_section#contact #me a {
    text-decoration: none;
    font-size: calc(var(--sz1) * 3);
}

.section.page_section#contact #me p {
    text-decoration: none;
    font-size: calc(var(--sz1) * 2.5);
    color: var(--accent1);
}